.navbar {
  position: fixed;
  width: 100%;
  background-color: #0C2667;
  height: 60px;
  left: 0px;
  top: 0px;
}
.navigation {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0px 15px;
}

.nav_logo {
  margin-left: 1rem;
}
.nav_logo a {
  color: #F0DE92;
  text-decoration: none;
  font-size: 1.2rem;
}

.whitespace {
  flex: 1;
}
.nav_items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_items li {
  padding: 0 0.5rem;
}
.nav_items a {
  color: #F0DE92;
  text-decoration: none;
}

.nav_items a:hover,
.nav_items a:active {
  color: #48546D;
}